/.gradle
.gradle
/.idea
!**/src/main/**
!**/src/test/**
*.log
.allure
gradlew
gradlew.bat
build
/src/test/resources/selenoid.properties
notifications/config.json
notifications/draft.txt
gradle/wrapper